.login-button {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 1rem;
  border: solid 1px #2b4410;
  font-size: 1.1rem;
  font-weight: bolder;
  color: #2b4410;
  background: linear-gradient(to right, #8dee37, #5EB00CFF, #75d324, #5EB00CFF);
}

body, .base-body {
    background-image: url('Semitruck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(164, 164, 164, 0.5);
    background-position: center center;
    margin: 0;
    overflow: auto;
}

.sticky-header th {
        position: sticky;
        top: 0;
        background-color: #fff; /* You can change the background color as needed */
        z-index: 1;
    }