{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}
{% block content %}

<body>
    <div class="container" style="margin-top: 50px;width: 400px; background-color: white;">
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 20px; margin-top: 20px;">
                    <h3>
                        Reset Password
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 20px;">
                    {{ form.username (style="background: transparent; border: none; outline: none; border-bottom: 1px solid black;", placeholder="Username") }}
                </div>
            </div>
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 20px;">
                    {{ form.new_password (style="background: transparent; border: none; outline: none; border-bottom: 1px solid black;", placeholder="New Password") }}
                </div>
            </div>
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 20px;">
                    {{ form.confirm_password (style="background: transparent; border: none; outline: none; border-bottom: 1px solid black;", placeholder="Confirm Password") }}
                </div>
            </div>
            <div class="row">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 20px;">
                    {{ form.submit (class="login-button") }}
                </div>
            </div>
        </form>
    </div>
</body>



{% endblock %}