{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}B2B Search{% endblock %}
{% block content %}
    <h1 align="center">B2B Search</h1>
    <form method="post">
    {{ form.hidden_tag() }}
      <div>
          <table align="center">
                <tr>
                    <td>{{ form.startdate }}</td>
                    
                    <td>{{ form.enddate }}</td>
                </tr>     
         </table>
      </div>
      <div>
          <p align="center" style="margin-bottom: 0; padding:0">
              {{ form.submit }}
{#              {% if pagination %}#}
{#          <!--      {{ form.downl(formnovalidate=True) }}  -->#}
{#              {% endif %}#}
                {{ form.clear(formnovalidate=True) }}
          </p>
      </div>
    </form>
    {% if count %}
    <div align="center" style="padding-top:10px; background-color:white">
       <p>Search returned {{ count }} results</p>
    </div>
    {% endif %}   
    <div  style="height:800px; overflow:auto">
        {% if pagination %}
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Tech (Initials)</th>
                        <th>Date</th>
                        <th>Pallet</th>
                        <th>QTY</th>
                        <th>Asset</th>
                        <th>Product Name</th>
                        <th>R2 Applicability</th>
                        <th>Data Sanitization Field</th>
                        <th>Next Process Field</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Faceplate?</th>
                        <th>Processor</th>
                        <th>Speed</th>
                        <th>RAM (GB)</th>
                        <th>HDD (GB)</th>
                        <th>Media</th>
                        <th>COA</th>
                        <th>Form Factor</th>
                        <th>AC Adaptor Port Functional</th>
                        <th>LCD Display</th>
                        <th>Disclosure to Buyer</th>
                        <th>Battery Load Test</th>
                        <th>Original Design Battery Capacity</th>
                        <th>Battery Capacity @ Time of Test</th>
                        <th>% of Original Capacity</th>
                        <th>Battery Pass/Fail</th>
                        <th>Serial #</th>
                        <th>Add-ons</th>
                        <th>Power Supply Info</th>
                        <th>Sale Category</th>
                        <th>New / Used</th>
                        <th>Year Manufactured</th>
                        <th>Cosmetic Condition / Grade</th>
                        <th>Functional Condition / Grade</th>
                        <th>DATA WIPE/ SANITIZE COMPLETE/ HDD FUNCTIONAL</th>
                        <th>Raid Controller</th>
                        <th>Switches/Buttons Functional</th>
                        <th>Hinges/Covers/Clasps</th>
                        <th>Power On Self-Test</th>
                    </tr>
                </thead>
            {% for row in pagination.items %}
                <tbody>
                    <tr>
                        <td class="table_data">{{ row.orderNo }}</td>
                        <td class="table_data">{{ row.techInitials }}</td>
                        <td class="table_data">{{ row.date }}</td>
                        <td class="table_data">{{ row.pallet }}</td>
                        <td class="table_data">{{ row.qty }}</td>
                        <td class="table_data">{{ row.asset }}</td>
                        <td class="table_data">{{ row.productName }}</td>
                        <td class="table_data">{{ row.r2Applicability }}</td>
                        <td class="table_data">{{ row.dataSanitizationField }}</td>
                        <td class="table_data">{{ row.nextProcessField }}</td>
                        <td class="table_data">{{ row.Manufacturer }}</td>
                        <td class="table_data">{{ row.Model }}</td>
                        <td class="table_data">{{ row.faceplate }}</td>
                        <td class="table_data">{{ row.processor }}</td>
                        <td class="table_data">{{ row.speed }}</td>
                        <td class="table_data">{{ row.ram }}</td>
                        <td class="table_data">{{ row.hddSize }}</td>
                        <td class="table_data">{{ row.media }}</td>
                        <td class="table_data">{{ row.coa }}</td>
                        <td class="table_data">{{ row.formFactor }}</td>
                        <td class="table_data">{{ row.acAdaptor }}</td>
                        <td class="table_data">{{ row.lcd }}</td>
                        <td class="table_data">{{ row.disclosure }}</td>
                        <td class="table_data">{{ row.batteryLoadTest }}</td>
                        <td class="table_data">{{ row.originalDesignCap }}</td>
                        <td class="table_data">{{ row.batCapAtTest }}</td>
                        <td class="table_data">{{ row.percentOrgCap }}</td>
                        <td class="table_data">{{ row.batteryPass }}</td>
                        <td class="table_data">{{ row.serialNo }}</td>
                        <td class="table_data">{{ row.addOns }}</td>
                        <td class="table_data">{{ row.powerSupply }}</td>
                        <td class="table_data">{{ row.saleCategory }}</td>
                        <td class="table_data">{{ row.newUsed }}</td>
                        <td class="table_data">{{ row.yearMFG }}</td>
                        <td class="table_data">{{ row.cosmetic_grade }}</td>
                        <td class="table_data">{{ row.functional_grade }}</td>
                        <td class="table_data">{{ row.dataWipe }}</td>
                        <td class="table_data">{{ row.raid }}</td>
                        <td class="table_data">{{ row.buttons }}</td>
                        <td class="table_data">{{ row.hinges }}</td>
                        <td class="table_data">{{ row.post }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    {% if pagination %}
        <div>
            <nav aria-label="Pagination Navigation" style="border-style:ridge;
    border-color: limegreen; background-color:whitesmoke">
                {{ macros.pagination_widget(pagination, 'testviews.b2b_search') }}
            </nav>

            <p class="text-center mt-3" style="background-color:whitesmoke">
                Showing page {{ pagination.page }} of {{ pagination.pages }}
            </p>
        </div>
    {% endif %}
{% endblock %}