{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Equipment Testing{% endblock %}
{% block content %}
    <h1 align="center">Equipment Checklist</h1>
    <form method="post">
        <div>
            <table>
                <tr>
                    {% for item in form.post_test %}
                        <td>{{ item }}</td>
                        <td>{{ item.label }}</td>
                    {% endfor %}

                </tr>
                <tr>
                    <td>{{ form.manufacturer }}</td>

                </tr>
                <tr>
                    <td>{{ form.submit }}</td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}

