{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Template Download{% endblock %} 
{% block content %}
    <h1 align="center">Need a Template?</h1>
    <form method=post>
      <div>
          <table align="center">
                <tr>
                    <td>{{ form.laptop }}</td>
                    
                    <td>{{ form.desktop_template_download }}</td>
                </tr>   
                <tr>
                    <td>{{ form.processing_template_download }}</td>
                    
                    <td>{{ form.lcd_template_download }}</td>
                </tr>  
        </table>
      </div>
    </form>
{% endblock %}