{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}HDD Search{% endblock %}
{% block content %}
    <h1 class="text-center">Killdisk Search</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <body>
        <div class="container">
            <div class="row" style="margin-top: 50px;background: rgb(52,58,64);padding: 10px;">
                <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                    {{ form.startdate }}
                </div>
                <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                    {{ form.enddate }}
                </div>
                <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                    {{ form.select }}
                </div>
                <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                    {{ form.search (style="color: var(--bs-body-bg);background: transparent;border-color: var(--bs-body-bg);") }}
                </div>
            </div>
            <div class="row" style="background: rgb(52,58,64);padding: 10px;">
                <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                    {{ form.submit(class="login-button") }}
                </div>
                {% if pagination %}
                    <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                    {{ form.downl(formnovalidate=True, class="login-button") }}
                    </div>
                {% endif %}
                <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center">
                    {{ form.clear(formnovalidate=True, class="login-button") }}
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        </body>
    </form>

{% if count %}
    <div class="text-center" style="padding-top:10px; background-color:white">
       <p>
           Search returned {{ count }} results<br>
           There are {{ quality_count }} good results returned
       </p>
    </div>
{% endif %}
    <div class="mx-auto text-center" style="overflow-x:auto; background: white;">
        {% if pagination %}
            <table class="data-table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Process</th>
                    <th>Finished</th>
                    <th>Batch Started</th>
                    <th>Batch</th>
                    <th>Success</th>
                    <th>Status</th>
                    <th>Method</th>
                    <th>Progress</th>
                    <th>Disk Serial</th>
                    <th>Disk Info</th>
                    <th>DiskSizeStr</th>
                    <th>Provider</th>
                    <th>ProviderVer</th>
                    <th>Host</th>
                    <th>Err Msg</th>
                </tr>
                </thead>
                {% for row in pagination.items %}
                    <tr>
                        <td class="table_data">{{ row.Process }}</td>
                        <td class="table_data">{{ row.Finished }}</td>
                        <td class="table_data">{{ row.BatchStarted }}</td>
                        <td class="table_data">{{ row.Batch }}</td>
                        <td class="table_data">{{ row.Success }}</td>
                        <td class="table_data">{{ row.Status }}</td>
                        <td class="table_data">{{ row.Method }}</td>
                        <td class="table_data">{{ row.Progress }}</td>
                        <td class="table_data">{{ row.DiskSerial }}</td>
                        <td class="table_data">{{ row.DiskInfo }}</td>
                        <td class="table_data">{{ row.DiskSizeStr }}</td>
                        <td class="table_data">{{ row.Provider }}</td>
                        <td class="table_data">{{ row.ProviderVer }}</td>
                        <td class="table_data">{{ row.Host }}</td>
                        <td class="table_data">{{ row.ErrMsg }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    {% if pagination %}
        <div>
            <nav aria-label="Pagination Navigation" style="border-style:ridge; border-color: limegreen; background-color:whitesmoke">
                {{ macros.pagination_widget(pagination, 'searchviews.hdd_search') }}
            </nav>

            <p class="text-center mt-3" style="background-color:whitesmoke">
                Showing page {{ pagination.page }} of {{ pagination.pages }}
            </p>
        </div>
    {% endif %}
{% endblock %}