{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 align="center">Notes</h1>
    <div class="d-flex justify-content-center w-auto">
        <div class="container">
            <div class="form-floating w-auto">
                {% for note in user.notes %}
                    <li class="list-group-item">
                        {{note.data}}
                        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                {% endfor %}
            </div>
            <div class="container-fluid d-flex justify-content-center">
                <div class="d-flex justify-content-center form-floating" style="margin-top: 20px;">
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <label for="note"></label><textarea name="note" id="note" class="note" style="justify-content: center; width: 300px;"></textarea>
                        <br />
                        <button type="submit" class="login-button text-center">Add Note</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
