{% extends "base.html" %} {% block title %}Import to Pandas{% endblock %} {% block content
    %}
    <div class="container-md mx-auto" style="padding-top:10px">
        <h1 align="center">Import to Database</h1>
        <form action="" method=post enctype=multipart/form-data style="padding-top:100px">
            <table>
                <tr>
                    {{ form.csrf_token }}
                    <td>{{ form.file }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_sheet_import (class="import-button") }}</td>
                </tr>
            </table>
        </form>
    </div>
    {% if shape %}
        <div align="center" style="padding-top:10px; background-color:white">
            {{ shape }}
        </div>
    {% endif %}
    <div class="table"  style="height: auto; overflow:auto">
        {{ table|safe }}
    </div>
{% endblock %}



