{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}

    <div class="container">
      <form method="POST" class="form-1">
        <h1>Login</h1>
          {{ form.csrf_token }}
          {{ form.email.label(class="") }}
          {{ form.email(id="email") }}
          {{ form.password.label(class="") }}
          {{ form.password(class="") }}
        <span>Forgot Password</span>
          {{ form.submit(class="loginbutton") }}
      </form>
    </div>



{% endblock %}