{% extends "base.html" %} {% block title %}Production{% endblock %} {% block content
    %}
    <h1 align="center">Production Data</h1>
    <table class="table table-dark" id="records">
        {% for record in proImport %}
        <tbody>
        <tr>
            <td>{{ record.orderNo }}</td>
            <td>{{ record.unitNo }}</td>
            <td>{{ record.productName }}</td>
            <td>{{ record.r2Applicability }}</td>
            <td>{{ record.dataSanitizationField }}</td>
            <td>{{ record.nextProcessField }}</td>
            <td>{{ record.hddMFG }}</td>
            <td>{{ record.hddSerialNo }}</td>
            <td>{{ record.Manufacturer }}</td>
            <td>{{ record.Model }}</td>
            <td>{{ record.serialNo }}</td>
            <td>{{ record.asset }}</td>
            <td>{{ record.newOrUsed }}</td>
            <td>{{ record.yearMFG }}</td>
            <td>{{ record.processor }}</td>
            <td>{{ record.speed }}</td>
            <td>{{ record.ram }}</td>
            <td>{{ record.hddSize }}</td>
            <td>{{ record.media }}</td>
            <td>{{ record.coa }}</td>
            <td>{{ record.formFactor }}</td>
            <td>{{ record.techInitials }}</td>
            <td>{{ record.date }}</td>
            <td>{{ record.grade }}</td>
            <td>{{ record.acAdapterIncluded }}</td>
            <td>{{ record.screenSize }}</td>
            <td>{{ record.testResultCodes }}</td>
            <td>{{ record.batteryLoadTest }}</td>
            <td>{{ record.originalDesignCap }}</td>
            <td>{{ record.batCapAtTest }}</td>
            <td>{{ record.percentOrgCap }}</td>
            <td>{{ record.batteryPass }}</td>
            <td>{{ record.dataWipe }}</td>
            <td>{{ record.saleCategory }}</td>
            <td>{{ record.autoId }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endblock %}