{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
    <script src="../static/print_qr.js"></script>
    <link
        rel="stylesheet"
        type="text/css"
        media="print"
        href={{ url_for('static', filename='styles.css') }}
    />
{% endblock %}
{% block content %}
        <div class="qr-search-div">
            <form method="POST">
                    {{ form.hidden_tag() }}
                    <tr>
                        <td><span class="qr-search">BOL #:</span></td><td>{{ form.bol_number }}</td>
                        <td><span class="qr-search">Customer Name:</span></td> <td>{{ form.customer_name }}</td>
                        <td><span class="qr-search">Sales Rep</span></td><td>{{ form.sales_rep }}</td>

                        <td>{{ form.submit(class="import-button") }}</td>
                    </tr>
            </form>
        </div>

        {% if results %}
            <div class="qr-container">
            <div class="qr-table" style="height:auto; overflow:auto">
                <table class="table table-bordered table-hover" style="background-color: white;">
                    <thead class="thead-dark">
                    <tr>
                        <th>Customer</th>
                        <th>QR Code</th>
                    </tr>
                    </thead>
                    <tr>
                        {% for column in results %}
                            <td>{{ column.customer_name }}</td>
                            <td>
                                <!-- Create a button to show the QR code -->
                                <button class="qr-button" onclick='showQR("{{ column.customer_name }}")'>Show QR</button>
                            </td>
                            </tr>
                {% endfor %}
        </table>
            </div>
            </div>
            {% endif %}
            {% if results or form.bol_number.data or form.sales_rep.data %}
            <div class="qr-display-div">
                <div id="qr-display">
                    <div class="qr-item">
                    {% if form.bol_number.data %}
                            <img src="{{ qrcode(form.bol_number.data)}}" alt="" width="100">
                            <span>{{(form.bol_number.data)}}</span>
                    {% endif %}
                    {% if form.sales_rep.data %}
                            <img src="{{ qrcode(form.sales_rep.data) }}" alt="" width="100">
                            <span>{{(form.sales_rep.data)}}</span>
                    {% endif %}
                    </div>
                    <div class="qr-item">
                        <img id="selected-qr" src="" alt="" width="100" >
                        <span id="selected_customer"></span>
                    </div>
                </div>
                <button class="print-button" onclick="printQR()">Print</button>
            </div>
        {% endif %}
{% endblock %}
