{% extends "base.html" %}
{% block title %}New Customer{% endblock %}

{% block content %}
    <div>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.customer_name }}
            {{ form.submit }}
        </form>
    </div>
    <div>
    {% if results %}
        <table>
        {% for result in results %}
            <tr>
                <td>
                    {{ result.customer_name }}
                </td>
                <td>
                    <img src="{{ qrcode(result.customer_name, box_size=5)}}">
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    </div>

{% endblock %}