{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Search{% endblock %} 
{% block content %}
    <h1 align="center">Search</h1>
    <form method=post>
      <div>
          <table align="center">
                <tr>
                    <td>{{ form.select }}</td>
                    
                    <td>{{ form.search }}</td>
                </tr>    
        </table>
      </div>
      <div>
        <p align="center">
            {{ form.submit }}
        </p>
    </div>
    </form>
    <div  style="height:800px; overflow:auto">
        {% if results %}
            <table class="table table-dark"> 
            {% for row in results %}
                <tr>
                    <td>{{ row.sheetID }}</td>
                    <td>{{ row.sheetName }}</td>
                    <td>{{ row.importTime }}</td>
                    <td>{{ row.user_id }}</td>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}