{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Servers{% endblock %}

{% block content %}
<div class="table-wrapper-scroll-y my-custom-scrollbar" align="center">
    <table class="table table-hover w-auto" style="background-color: white">
    <thead><h2>Servers</h2></thead>
        <tbody>
        {% for server in results %}
        <tr>

            {% for attribute in server %}
                <td><a href="servers/{{ attribute }}">{{ attribute }}</a></td>
{#                <td><a href="/servers/batch">{{ attribute }}</a></td>#}
            {% endfor %}

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
        {% if pagination %}
        <div>
            <nav aria-label="Pagination Navigation" style="border-style:ridge;
    border-color: limegreen; background-color:whitesmoke">
                {{ macros.pagination_widget(pagination, 'searchviews.pandasSearch') }}
            </nav>

            <p class="text-center mt-3" style="background-color:whitesmoke">
                Showing page {{ pagination.page }} of {{ pagination.pages }}
            </p>
        </div>
    {% endif %}
{% endblock %}