{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Aiken Daily Production{% endblock %}
{% block content %}
    <div style="background-color: whitesmoke">
        <form method="POST">
            {{ form.hidden_tag() }}
            <table>
{#                <tr>
                    <td>Select</td>
                    <td>{{ form.select }}</td>
                </tr>#}
                <tr>
                    <td>Search</td>
                    <td>{{ form.search }}</td>
{#                </tr>
                <tr>
                    <td>Active Lots?</td>
                    <td>{{ form.active_lots }}</td>
                </tr>#}
                <tr>
                    <td>{{ form.table }}</td>
                    {% if results|length > 0 %}
                        <td>{{ form.download }}</td>
                    {% endif %}
                </tr>
            </table>
        </form>
    </div>

    <div class="mx-auto text-center" style="overflow-x:auto;">
        {% if results %}
          <table>
            <thead>
              <tr>
                {# Loop through each column in the model #}
                {% for column in results[0].__table__.columns %}
                  <th>{{ column.name }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {# Now loop through the rows #}
              {% for row in results %}
                <tr>
                  {# And then loop through each cell using the column order #}
                  {% for column in row.__table__.columns %}
                    <td class="table_data">{{ row[column.name] }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>No results found</p>
        {% endif %}
    </div>
{% endblock %}