{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Mobile Weight Sheet{% endblock %}

{% block content %}
    <div style="display: flex; justify-content: space-evenly; background-color: whitesmoke">
        <div style="margin: auto">
            Current Pallet: {{ data['palletID'] }}
        </div>
        <div style="margin: auto">
            Closed Boxes: {{ data['closed_box_count'] }}
        </div>
        <div style="margin: auto">
            Current Box Weight: {{ data['total_box_weight'] }}
        </div>
        <div style="margin: auto">
            Started: {{ data['timestamp'] }}
        </div>
    </div>
    {% if data['current_box_status'] %}
    <div style="display: flex; justify-content: space-evenly;">
        <div id="deviceFormDiv" style="margin: auto">
            <form id="deviceForm" method="POST">
                {{ data['device_form'].hidden_tag() }}
                <table style="background-color: whitesmoke">
                    <tr>
                        <td><h4>{{ data['device_form'].model.label }}</h4></td>
                        <td>{{ data['device_form'].model(autofocus=True) }}</td>
                    </tr>
                    <tr>
                        <td><h4>{{ data['device_form'].quantity.label }}</h4></td>
                        <td>{{ data['device_form'].quantity() }}</td>
                    </tr>
                    <tr>
                        <td>{{ data['device_form'].good_button (style="background-color: limegreen") }}</td>
                        <td>{{ data['device_form'].bad_button (style="background-color: red") }}</td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="closeFormDiv" style="margin: auto">
            <form id="closeForm" method="POST">
                {{ data['close_form'].hidden_tag() }}
                {{ data['close_form'].close_box_button (style="background-color: red") }}
            </form>
        </div>
    </div>
    {% endif %}
    <div id="weightFormDiv" style="display: none">
        <form method="POST">
            {{ data['weight_form'].hidden_tag() }}
            {{ data['weight_form'].weight.label }}
            {{ data['weight_form'].weight() }}
            {{ data['weight_form'].submit }}
        </form>
    </div>
    <div style="display: flex; justify-content: space-evenly">
        <table class="table table-light" style="text-align: center">
            <thead>
                <tr>
                    <td>Model</td>
                    <td>Weight (kg)</td>
                    <td>Quantity</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                {% for device in data['devices'] %}
                    <tr>
                        <td>{{ device[0] }}</td>
                        <td>{{ device[1] }}</td>
                        <td>{{ device[2] }}</td>
                        <td>{{ 'Good' if device[3] else 'Bad' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if data['show_weight_form'] %}
        <script>
        document.getElementById('weightFormDiv').style.display = 'block';
        </script>
{#    {% elif not data['show_weight_form'] %}#}
{#    <script>#}
{#      document.addEventListener('DOMContentLoaded', function() {#}
{#        // WTForms default id is the field name; we can reference it explicitly#}
{#        const modelInput = document.getElementById('model');#}
{#        if (modelInput) {#}
{#          modelInput.focus();#}
{#          modelInput.select(); // optional: highlights existing text#}
{#        }#}
{#      });#}
{#    </script>#}
    {% endif %}


{% endblock %}