{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Aiken Daily Production{% endblock %}
{% block content %}
    <div style="background-color: whitesmoke">
        <form method="POST">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>Select</td>
                    <td>{{ form.select }}</td>
                </tr>
                <tr>
                    <td>Search</td>
                    <td>{{ form.search }}</td>
                </tr>
                <tr>
                    <td>Active Lots?</td>
                    <td>{{ form.active_lots }}</td>
                </tr>
                <tr>
                    <td>{{ form.table }}</td>
                    {% if results|length > 0 %}
                        <td>{{ form.download }}</td>
                    {% endif %}
                </tr>
            </table>
        </form>
    </div>

    <div class="mx-auto text-center" style="overflow-x:auto;">
    <table class="data-table">
        <thead>
            <tr>
                {%  if results %}
                    {% for key in results[0].__dict__.keys() %}
                        {% if key != '_sa_instance_state' %}
                            <th>{{ key }}</th>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for obj in results %}
                <tr>
                    {% for key, value in obj.__dict__.items() %}
                        {% if key != '_sa_instance_state' %}
                            <td class="table_data">{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}