{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Network Price Search{% endblock %}
{% block content %}
<body style="width: 100%;">
    <div class="container">
        <div class="row d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="width: 100%;">
            <div class="col-md-12 d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="margin-top: 25px;margin-bottom: 30px; max-width: 375px;">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="table-responsive">
                        <table class="table">
                            {% for field in form %}
                                {% if field.type != 'CSRFTokenField' %}
                                    <tr>
                                        <td>{{ field.label }}</td>
                                        <td>{{ field }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </form>
            </div>
        </div>
        {% if pagination %}
            <div class="row" style="margin-bottom: 10px;width: 100%;">
                <div class="col-md-12">
                    <div class="table-responsive" style="overflow-y: scroll; max-height: 500px; border: 1px solid rgb(0, 0, 0);">
                        <table class="table">
                            <thead>
                            <tr>
                                {% for column in columns %}
                                    <td style="background: rgb(52,58,64); color: rgb(255,255,255);">{{ column }}</td>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in pagination.items %}
                                <tr>
                                    {% for column in columns %}
                                        <td style="border-top: 1px solid rgb(0, 0, 0); border-bottom: 1px solid rgb(0, 0, 0);">{{ row[column] }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if pagination %}
            <div class="row d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="width: 100%;">
                <div class="col d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="background: white;">
                    {{ macros.pagination_widget(pagination, 'views.network_price_search') }}
                </div>
            </div>
            <div class="row d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="width: 100%;">
                <div class="col d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="background: white;">
                    <span style="margin-bottom: 10px;">Showing page {{ pagination.page }} of {{ pagination.pages }}</span>
                </div>
            </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

{% endblock %}