{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Change Model Weight{% endblock %}

{% block content %}

    <table class="table table-light">
        <tr>
            <td>Model:</td>
            <td>{{ model_info.model }}</td>
        </tr>
        <tr>
            <td>Weight:</td>
            <td>{{ model_info.weight }}</td>
        </tr>
    </table>

    <form method="POST">
        {{ form.hidden_tag() }}
        <table class="table table-light">
            <tr>
                <td>Enter a new weight (lbs):</td>
                <td>{{ form.weight }}</td>
            </tr>
            <tr>
                <td>{{ form.submit }}</td>
            </tr>
        </table>
    </form>


{% endblock %}