<!--
For testing random features for PHR Database
-->

{% extends "base.html" %}
{% block title %}Flask_Test{% endblock %}
{% block content %}
<div>
    <form method="POST" style="background: white">
        <table>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <tr>
                <td>Name: </td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td><h4>Reset Password</h4></td>
            </tr>
            <tr>
                <td>{{ form.current_password.label }}</td>
                <td>{{ form.current_password }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password.label }}</td>
                <td>{{ form.new_password }}</td>
            </tr>
            {% if form.new_password.errors %}
                {% for error in form.new_password.errors %}
                    <tr><td>
                        {{ error }}
                    </td></tr>
                {% endfor %}
            {% endif %}
            {% if form.new_password_verify.errors %}
                {% for error in form.new_password_verify.errors %}
                    <tr><td>
                        {{ error }}
                    </td></tr>
                {% endfor %}
            {% endif %}

            <tr>
                <td>{{ form.new_password_verify.label }}</td>
                <td>{{ form.new_password_verify }}</td>
            </tr>
            <tr>
                <td>{{ form.submit }}</td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}