<!--
Testing file. Part of the DATEPICKER calendar set for querying database with date ranges.
   
-->
{% extends "base.html" %}
{% block title %}TEST_DATE_INDEX{% endblock %}
{% block content %}
<div>
    <h3> Select a date range</h3> 
    <form action="" method="POST" name="myform">
        {{ form.csrt_token }}
        {{ form.startdate.label }} {{ form.startdate(class='datepicker') }} {{ form.hidden_tag() }}
        {{ form.enddate.label }} {{ form.enddate(class='datepicker') }} {{ form.hidden_tag() }}
        <p>
            {{ form.submit() }}
        </p>
</div>
{% endblock %}