{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}TEST_Listboxes{% endblock %} 
{% block content %}
    <h1 align="center">Killdisk Search</h1>
<!--
    <form method=post>
      <div>
          <table align="center">
                <tr>
                    <td>{{ form.startdate }}</td>
                    
                    <td>{{ form.enddate }}</td>
                </tr>     
        </table>
      </div>
      <div>
          <p align="center">
              {{ form.submit }}
          </p>
      </div>
    </form>
-->
    <div id="batch_div_test">
        {% if batches %}
        <form method="post" name="checkbox_form" action="{{ url_for('testviews.test_checkbox_list') }}">
        <ul style="background-color: white; list-style:none">
        {% for row in batches %}
            
                <li>
                    <input type="checkbox" id="{{ row.Started }}" name="batch_checkboxes" value="{{ row.Started }}">
                    <label for="{{ row.Started }}">{{ row.Batch }}</label>
                </li>
        {% endfor %}
        </ul>
        <button type="submit">Select</button>
        </form>
        {% endif %}
    </div> 
    <div  style="height:800px; overflow:auto">
    </div>
{% endblock %}